.features {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

.featuresRow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	margin: 20px;
	justify-content: center;
}

.featuresRow:last-child {
	max-width: 66%;
	margin-left: auto;
	margin-right: auto;
}

.feature {
	color: inherit;
	cursor: pointer;
	flex: 1;
	border: 1px solid #eeeeee;
	border-radius: 10px;
	padding: 20px;
	min-width: 200px;
	overflow: hidden;
}

.featureImg {
	height: 32px;
	width: 32px;
}

.featureHeader {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
}

.featureHeader > h3 {
	margin: 0;
}

.featureDescription {
	padding-top: 10px;
}

/* 700px breakpoint - make all cards same width */
@media (max-width: 700px) {
	.features .featuresRow:last-child {
		max-width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin: 20px;
	}

	.featuresRow {
		flex-direction: column;
	}

	.feature {
		max-width: none;
		flex: 1 1 auto;
	}
}
