{
	"openapi": "3.1.1",
	"info": {
		"title": "TWIN Playground Node",
		"description": "REST API for TWIN - API Server.",
		"version": "1.0.0",
		"license": {
			"name": "Apache 2.0 License",
			"url": "https://opensource.org/licenses/Apache-2.0"
		}
	},
	"servers": [
		{
			"url": "https://playground-api.twindev.org"
		}
	],
	"tags": [
		{
			"name": "Info",
			"description": "Information endpoints for the REST server."
		},
		{
			"name": "Authentication",
			"description": "Authentication endpoints for the REST server."
		},
		{
			"name": "Identity",
			"description": "Service to provide all features related to digital identity."
		},
		{
			"name": "Identity Profile",
			"description": "Service to provide all features related to digital identity profiles."
		},
		{
			"name": "Blob Storage",
			"description": "Endpoints which are modelled to access a blob storage contract."
		},
		{
			"name": "Telemetry",
			"description": "Endpoints which are modelled to access a telemetry contract."
		},
		{
			"name": "Logging",
			"description": "Endpoints which are modelled to access a logging contract."
		},
		{
			"name": "NFT",
			"description": "Endpoints which are modelled to access an NFT contract."
		},
		{
			"name": "Attestation",
			"description": "Endpoints which are modelled to access an attestation contract."
		},
		{
			"name": "VerifiableStorage",
			"description": "Endpoints which are modelled to access a verifiable storage."
		},
		{
			"name": "Immutable Proof",
			"description": "Endpoints which are modelled to access an immutable proof contract."
		},
		{
			"name": "Data Processing",
			"description": "Endpoints which are modelled to access a data processing contract."
		},
		{
			"name": "Document Management",
			"description": "Endpoints which are modelled to access a document management contract."
		},
		{
			"name": "Auditable Item Graph",
			"description": "Endpoints which are modelled to access an auditable item graph contract."
		},
		{
			"name": "Auditable Item Stream",
			"description": "Endpoints which are modelled to access an auditable item stream contract."
		},
		{
			"name": "Federated Catalogue",
			"description": "Endpoints to access a Federated Catalogue."
		}
	],
	"paths": {
		"/info": {
			"get": {
				"operationId": "serverInformation",
				"summary": "Get the information for the server",
				"tags": [
					"Info"
				],
				"responses": {
					"200": {
						"description": "The information about the server.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServerInfo"
								},
								"examples": {
									"informationResponse": {
										"summary": "The response for the information request.",
										"value": {
											"name": "API Server",
											"version": "1.0.0"
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/health": {
			"get": {
				"operationId": "serverHealth",
				"summary": "Get the health for the server",
				"tags": [
					"Info"
				],
				"responses": {
					"200": {
						"description": "The health of the server.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/HealthInfo"
								},
								"examples": {
									"healthResponseOK": {
										"summary": "The response for the health request.",
										"value": {
											"status": "ok",
											"components": [
												{
													"name": "Database",
													"status": "ok"
												},
												{
													"name": "Storage",
													"status": "ok"
												}
											]
										}
									},
									"healthResponseWarning": {
										"summary": "The response for the health request with warnings.",
										"value": {
											"status": "warning",
											"components": [
												{
													"name": "Database",
													"status": "warning",
													"details": "The database is running slow."
												},
												{
													"name": "Storage",
													"status": "ok"
												}
											]
										}
									},
									"healthResponseError": {
										"summary": "The response for the health request with errors.",
										"value": {
											"status": "error",
											"components": [
												{
													"name": "Database",
													"status": "ok"
												},
												{
													"name": "Storage",
													"status": "error",
													"details": "The storage is full."
												}
											]
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/spec": {
			"get": {
				"operationId": "serverSpec",
				"summary": "Get the OpenAPI specification for the endpoints",
				"tags": [
					"Info"
				],
				"responses": {
					"200": {
						"description": "The OpenAPI spec for the endpoints.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ServerSpecResponse"
								},
								"examples": {
									"specResponse": {
										"summary": "The response for the spec request.",
										"value": {
											"openapi": "3.1.0",
											"info": {},
											"paths": {}
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/authentication/login": {
			"post": {
				"operationId": "authenticationLogin",
				"summary": "Login to the server",
				"tags": [
					"Authentication"
				],
				"requestBody": {
					"description": "Perform a login on the server.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/LoginRequest"
							},
							"examples": {
								"loginRequestExample": {
									"summary": "The request to login to the server.",
									"value": {
										"email": "user@example.com",
										"password": "MyPassword123!"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Response from a login on the server.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LoginResponse"
								},
								"examples": {
									"loginResponseExample": {
										"summary": "The response for the login request.",
										"value": {
											"token": "eyJhbGciOiJIU...sw5c",
											"expiry": 1722514341067
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "component.error"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/authentication/logout": {
			"get": {
				"operationId": "authenticationLogout",
				"summary": "Logout from the server",
				"tags": [
					"Authentication"
				],
				"parameters": [
					{
						"name": "token",
						"description": "The token to logout, if it uses a mechanism with public access.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						},
						"example": "eyJhbGciOiJIU...sw5c"
					}
				],
				"responses": {
					"204": {
						"description": "The rest request ended in success with no data."
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/authentication/refresh": {
			"get": {
				"operationId": "authenticationRefreshToken",
				"summary": "Refresh an authentication token",
				"tags": [
					"Authentication"
				],
				"parameters": [
					{
						"name": "token",
						"description": "The token to refresh, if it uses a mechanism with public access.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						},
						"example": "eyJhbGciOiJIU...sw5c"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"responses": {
					"200": {
						"description": "Response from a refresh on the auth token.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RefreshTokenResponse"
								},
								"examples": {
									"refreshTokenResponseExample": {
										"summary": "The response for the refresh token request.",
										"value": {
											"token": "eyJhbGciOiJIU...sw5c",
											"expiry": 1722514341067
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "component.error"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/authentication/{email}/password": {
			"put": {
				"operationId": "authenticationUpdatePassword",
				"summary": "Update the user's password",
				"tags": [
					"Authentication"
				],
				"parameters": [
					{
						"name": "email",
						"description": "",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "john:example.com"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"responses": {
					"204": {
						"description": "The rest request ended in success with no data."
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "component.error"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/{identity}": {
			"get": {
				"operationId": "identityResolve",
				"summary": "Resolve an identity",
				"tags": [
					"Identity"
				],
				"parameters": [
					{
						"name": "identity",
						"description": "The identity to resolve.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "did:iota:tst:0xe3088ba9aa8c28e1d139708a14e8c0fdff11ee8223baac4aa5bcf3321e4bfc6a"
					}
				],
				"responses": {
					"200": {
						"description": "Response to resolving an identity.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "https://schema.twindev.org/w3c-did/DidDocument"
								},
								"examples": {
									"identityResolveResponseExample": {
										"value": {
											"@context": "https://www.w3.org/ns/did/v1",
											"id": "did:iota:tst:0xe3088ba9aa8c28e1d139708a14e8c0fdff11ee8223baac4aa5bcf3321e4bfc6a",
											"service": [
												{
													"id": "did:iota:tst:0xe3088ba9aa8c28e1d139708a14e8c0fdff11ee8223baac4aa5bcf3321e4bfc6a#revocation",
													"type": "RevocationBitmap2022",
													"serviceEndpoint": "data:application/octet-stream;base64,eJyzMmAAAwABr"
												}
											]
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity": {
			"post": {
				"operationId": "identityCreate",
				"summary": "Create an identity",
				"tags": [
					"Identity"
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"requestBody": {
					"description": "Request to create an identity.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/IdentityCreateRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Response to creating an identity.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "https://schema.twindev.org/w3c-did/DidDocument"
								},
								"examples": {
									"identityCreateResponseExample": {
										"value": {
											"@context": "https://www.w3.org/ns/did/v1",
											"id": "did:iota:tst:0xe3088ba9aa8c28e1d139708a14e8c0fdff11ee8223baac4aa5bcf3321e4bfc6a",
											"service": [
												{
													"id": "did:iota:tst:0xe3088ba9aa8c28e1d139708a14e8c0fdff11ee8223baac4aa5bcf3321e4bfc6a#revocation",
													"type": "RevocationBitmap2022",
													"serviceEndpoint": "data:application/octet-stream;base64,eJyzMmAAAwABr"
												}
											]
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "component.error"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/{identity}/verification-method": {
			"post": {
				"operationId": "identityVerificationMethodCreate",
				"summary": "Create an identity verification method",
				"tags": [
					"Identity"
				],
				"parameters": [
					{
						"name": "identity",
						"description": "The identity to create the verification method for.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "did:iota:tst:0xe3088ba9aa8c28e1d139708a14e8c0fdff11ee8223baac4aa5bcf3321e4bfc6a"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"requestBody": {
					"description": "Request to create a verification method.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/IdentityVerificationMethodCreateRequest"
							},
							"examples": {
								"identityVerificationMethodCreateRequestExample": {
									"value": {
										"verificationMethodType": "assertionMethod",
										"verificationMethodId": "my-assertion"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Response to creating a verification method.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "https://schema.twindev.org/w3c-did/DidDocumentVerificationMethod"
								},
								"examples": {
									"identityVerificationMethodCreateResponseExample": {
										"value": {
											"id": "did:iota:tst:0x70ce5abe69e7c56dd69684dd6da65812b9758b03a0081331ca560b34d73d5ff0#my-assertion",
											"controller": "did:iota:tst:0x70ce5abe69e7c56dd69684dd6da65812b9758b03a0081331ca560b34d73d5ff0",
											"type": "JsonWebKey2020",
											"publicKeyJwk": {
												"kty": "OKP",
												"alg": "EdDSA",
												"kid": "f_fj3rGsZFSYvnS_xv5MgyIBlExq-lgDciu0YQ--S3s",
												"crv": "Ed25519",
												"x": "SFm32z7y9C17olpaTeocG25WV2CNTUl5MhM679Z4bok"
											}
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "component.error"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/{identity}/verification-method/{verificationMethodId}": {
			"delete": {
				"operationId": "identityVerificationMethodRemove",
				"summary": "Remove an identity verification method",
				"tags": [
					"Identity"
				],
				"parameters": [
					{
						"name": "identity",
						"description": "The identity to remove the verification method from.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "did:iota:tst:0xe3088ba9aa8c28e1d139708a14e8c0fdff11ee8223baac4aa5bcf3321e4bfc6a"
					},
					{
						"name": "verificationMethodId",
						"description": "The verification method to remove.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "my-assertion"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"responses": {
					"204": {
						"description": "The rest request ended in success with no data."
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "component.error"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/{identity}/service": {
			"post": {
				"operationId": "identityServiceCreate",
				"summary": "Create an identity service",
				"tags": [
					"Identity"
				],
				"parameters": [
					{
						"name": "identity",
						"description": "The identity to create the service for.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "did:iota:tst:0xe3088ba9aa8c28e1d139708a14e8c0fdff11ee8223baac4aa5bcf3321e4bfc6a"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"requestBody": {
					"description": "Request to create a service.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/IdentityServiceCreateRequest"
							},
							"examples": {
								"identityServiceCreateRequestExample": {
									"value": {
										"serviceId": "did:example:123#linked-domain",
										"type": "LinkedDomains",
										"endpoint": "https://bar.example.com"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Response to creating a service.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "https://schema.twindev.org/w3c-did/DidService"
								},
								"examples": {
									"identityServiceCreateResponseExample": {
										"value": {
											"id": "did:example:123#linked-domain",
											"type": "LinkedDomains",
											"serviceEndpoint": "https://bar.example.com"
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "component.error"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/{identity}/service/{serviceId}": {
			"delete": {
				"operationId": "identityServiceRemove",
				"summary": "Remove an identity service",
				"tags": [
					"Identity"
				],
				"parameters": [
					{
						"name": "identity",
						"description": "The identity to remove the service from.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "did:iota:tst:0xe3088ba9aa8c28e1d139708a14e8c0fdff11ee8223baac4aa5bcf3321e4bfc6a"
					},
					{
						"name": "serviceId",
						"description": "The service to remove.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "did:example:123#linked-domain"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"responses": {
					"204": {
						"description": "The rest request ended in success with no data."
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "component.error"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/{identity}/verifiable-credential": {
			"post": {
				"operationId": "identityVerifiableCredentialCreate",
				"summary": "Create an identity verifiable credential",
				"tags": [
					"Identity"
				],
				"parameters": [
					{
						"name": "identity",
						"description": "The identity to create the verification credential for.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "did:entity-storage:0x879c31386f992cfa29b77fe31e37256d69f6a57653cee4eb60ad4c4613c5515a"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"requestBody": {
					"description": "Request to create a verifiable credential.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/IdentityVerifiableCredentialCreateRequest"
							},
							"examples": {
								"identityVerifiableCredentialCreateRequestExample": {
									"value": {
										"credentialId": "https://example.com/credentials/3732",
										"subject": {
											"@context": "https://schema.org",
											"@type": "Person",
											"id": "did:entity-storage:0x4757993355b921a8229bd780f30921b6a0216a72e6c3f37a09d13b8426a17def",
											"name": "Jane Doe"
										},
										"revocationIndex": 5
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Response to creating a verifiable credential.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/IdentityVerifiableCredentialCreateResponse"
								},
								"examples": {
									"identityVerifiableCredentialCreateResponseExample": {
										"value": {
											"verifiableCredential": {
												"@context": [
													"https://www.w3.org/ns/credentials/v2",
													"https://schema.org"
												],
												"id": "https://example.com/credentials/3732",
												"type": [
													"VerifiableCredential",
													"Person"
												],
												"credentialSubject": {
													"id": "did:entity-storage:0x4757993355b921a8229bd780f30921b6a0216a72e6c3f37a09d13b8426a17def",
													"name": "Jane Doe"
												},
												"issuer": "did:entity-storage:0x879c31386f992cfa29b77fe31e37256d69f6a57653cee4eb60ad4c4613c5515a",
												"issuanceDate": "2025-01-24T09:21:51.500Z",
												"credentialStatus": {
													"id": "did:entity-storage:0x879c31386f992cfa29b77fe31e37256d69f6a57653cee4eb60ad4c4613c5515a#revocation",
													"type": "BitstringStatusList",
													"revocationBitmapIndex": "5"
												}
											},
											"jwt": "eyJraWQiOi...D1Z3AQ"
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "component.error"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/verifiable-credential/verify": {
			"get": {
				"operationId": "identityVerifiableCredentialVerify",
				"summary": "Verify an identity verifiable credential",
				"tags": [
					"Identity"
				],
				"parameters": [
					{
						"name": "jwt",
						"description": "The jwt to verify.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						},
						"example": "eyJraWQiOi...D1Z3AQ"
					}
				],
				"responses": {
					"200": {
						"description": "Response to verifying a verifiable credential.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/IdentityVerifiableCredentialVerifyResponse"
								},
								"examples": {
									"identityVerifiableCredentialVerifyResponseExample": {
										"value": {
											"revoked": false,
											"verifiableCredential": {
												"@context": [
													"https://www.w3.org/ns/credentials/v2",
													"https://schema.org"
												],
												"id": "https://example.com/credentials/3732",
												"type": [
													"VerifiableCredential",
													"Person"
												],
												"credentialSubject": {
													"id": "did:entity-storage:0x4757993355b921a8229bd780f30921b6a0216a72e6c3f37a09d13b8426a17def",
													"name": "Jane Doe"
												},
												"issuer": "did:entity-storage:0x879c31386f992cfa29b77fe31e37256d69f6a57653cee4eb60ad4c4613c5515a",
												"issuanceDate": "2025-01-24T09:21:51.500Z",
												"credentialStatus": {
													"id": "did:entity-storage:0x879c31386f992cfa29b77fe31e37256d69f6a57653cee4eb60ad4c4613c5515a#revocation",
													"type": "BitstringStatusList",
													"revocationBitmapIndex": "5"
												}
											}
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/{identity}/verifiable-credential/revoke/{revocationIndex}": {
			"get": {
				"operationId": "identityVerifiableCredentialRevoke",
				"summary": "Revoke an identity verifiable credential",
				"tags": [
					"Identity"
				],
				"parameters": [
					{
						"name": "identity",
						"description": "The identity to revoke the verification credential for.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "did:entity-storage:0x879c31386f992cfa29b77fe31e37256d69f6a57653cee4eb60ad4c4613c5515a"
					},
					{
						"name": "revocationIndex",
						"description": "The revocation index to revoke.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "number"
						},
						"style": "simple",
						"example": 5
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"responses": {
					"204": {
						"description": "The rest request ended in success with no data."
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "component.error"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/{identity}/verifiable-credential/unrevoke/{revocationIndex}": {
			"get": {
				"operationId": "identityVerifiableCredentialUnrevoke",
				"summary": "Unrevoke an identity verifiable credential",
				"tags": [
					"Identity"
				],
				"parameters": [
					{
						"name": "identity",
						"description": "The identity to unrevoke the verification credential for.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "did:entity-storage:0x879c31386f992cfa29b77fe31e37256d69f6a57653cee4eb60ad4c4613c5515a"
					},
					{
						"name": "revocationIndex",
						"description": "The revocation index to unrevoke.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "number"
						},
						"style": "simple",
						"example": 5
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"responses": {
					"204": {
						"description": "The rest request ended in success with no data."
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "component.error"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/{identity}/verifiable-presentation": {
			"post": {
				"operationId": "identityVerifiablePresentationCreate",
				"summary": "Create an identity verifiable presentation",
				"tags": [
					"Identity"
				],
				"parameters": [
					{
						"name": "identity",
						"description": "The identity to create the verification presentation for.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "did:entity-storage:0x879c31386f992cfa29b77fe31e37256d69f6a57653cee4eb60ad4c4613c5515a"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"requestBody": {
					"description": "Request to create a verifiable presentation.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/IdentityVerifiablePresentationCreateRequest"
							},
							"examples": {
								"identityVerifiablePresentationCreateRequestExample": {
									"value": {
										"presentationId": "https://example.com/presentation/3732",
										"verifiableCredentials": [
											"eyJraWQiOi...D1Z3AQ"
										]
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Response to creating a verifiable presentation.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/IdentityVerifiablePresentationCreateResponse"
								},
								"examples": {
									"IIdentityVerifiablePresentationCreateResponseExample": {
										"value": {
											"verifiablePresentation": {
												"@context": [
													"https://www.w3.org/ns/credentials/v2",
													"https://schema.org"
												],
												"id": "presentationId",
												"type": [
													"VerifiablePresentation",
													"Person"
												],
												"verifiableCredential": [
													"eyJraWQiOi...D1Z3AQ"
												],
												"holder": "did:entity-storage:0xcea318e06e89f3fb4048160770effd84d0cfa5801fee13dfa6f9413a00429cec"
											},
											"jwt": "eyJraWQiOi...D1Z3AQ"
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "component.error"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/verifiable-presentation/verify": {
			"get": {
				"operationId": "identityVerifiablePresentationVerify",
				"summary": "Verify an identity verifiable presentation",
				"tags": [
					"Identity"
				],
				"parameters": [
					{
						"name": "jwt",
						"description": "The jwt to verify.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						},
						"example": "eyJraWQiOi...D1Z3AQ"
					}
				],
				"responses": {
					"200": {
						"description": "Response to verifying a verifiable presentation.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/IdentityVerifiablePresentationVerifyResponse"
								},
								"examples": {
									"identityVerifiablePresentationVerifyResponseExample": {
										"value": {
											"revoked": false,
											"verifiablePresentation": {
												"@context": [
													"https://www.w3.org/ns/credentials/v2",
													"https://schema.org"
												],
												"id": "presentationId",
												"type": [
													"VerifiablePresentation",
													"Person"
												],
												"verifiableCredential": [
													"eyJraWQiOi...D1Z3AQ"
												],
												"holder": "did:entity-storage:0xcea318e06e89f3fb4048160770effd84d0cfa5801fee13dfa6f9413a00429cec"
											}
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/{identity}/proof": {
			"post": {
				"operationId": "identityProofCreate",
				"summary": "Create an identity proof",
				"tags": [
					"Identity"
				],
				"parameters": [
					{
						"name": "identity",
						"description": "The identity to create the proof for.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "did:entity-storage:0xda2df3ebc91ee0d5229d6532ffd0f4426952a94f34988b0ca906694dfd366a6a"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"requestBody": {
					"description": "Request to create a proof.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/IdentityProofCreateRequest"
							},
							"examples": {
								"identityProofCreateRequestExample": {
									"value": {
										"proofType": "DataIntegrityProof",
										"document": {
											"@context": [
												"https://www.w3.org/ns/credentials/v2",
												"https://www.w3.org/ns/credentials/examples/v2"
											],
											"id": "urn:uuid:58172aac-d8ba-11ed-83dd-0b3aef56cc33",
											"type": [
												"VerifiableCredential",
												"AlumniCredential"
											],
											"name": "Alumni Credential",
											"description": "A minimum viable example of an Alumni Credential.",
											"issuer": "https://vc.example/issuers/5678",
											"validFrom": "2023-01-01T00:00:00Z",
											"credentialSubject": {
												"id": "did:example:abcdefgh",
												"alumniOf": "The School of Examples"
											}
										}
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Response to creating a proof.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "https://schema.twindev.org/w3c-did/Proof"
								},
								"examples": {
									"identityProofCreateResponseExample": {
										"value": {
											"@context": [
												"https://www.w3.org/ns/credentials/v2",
												"https://www.w3.org/ns/credentials/examples/v2"
											],
											"type": "DataIntegrityProof",
											"cryptosuite": "eddsa-jcs-2022",
											"created": "2024-01-31T16:00:45.490Z",
											"verificationMethod": "did:entity-storage:0x0101010101010101010101010101010101010101010101010101010101010101#my-verification-id",
											"proofPurpose": "assertionMethod",
											"proofValue": "z2zGoejwpX6HH2T11BZaniEVZrqRKDpwbQSvPcL7eL9M7hV5P9zQQZxs85n6qyDzkkXCL8aFUWfwQD5bxVGqDK1fa"
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "component.error"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/proof/verify": {
			"post": {
				"operationId": "identityProofVerify",
				"summary": "Verify an identity proof",
				"tags": [
					"Identity"
				],
				"requestBody": {
					"description": "Request to verify a proof.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/IdentityProofVerifyRequest"
							},
							"examples": {
								"identityProofVerifyRequestExample": {
									"value": {
										"document": {
											"@context": [
												"https://www.w3.org/ns/credentials/v2",
												"https://www.w3.org/ns/credentials/examples/v2"
											],
											"id": "urn:uuid:58172aac-d8ba-11ed-83dd-0b3aef56cc33",
											"type": [
												"VerifiableCredential",
												"AlumniCredential"
											],
											"name": "Alumni Credential",
											"description": "A minimum viable example of an Alumni Credential.",
											"issuer": "https://vc.example/issuers/5678",
											"validFrom": "2023-01-01T00:00:00Z",
											"credentialSubject": {
												"id": "did:example:abcdefgh",
												"alumniOf": "The School of Examples"
											}
										},
										"proof": {
											"@context": "https://www.w3.org/ns/credentials/v2",
											"type": "DataIntegrityProof",
											"cryptosuite": "eddsa-jcs-2022",
											"created": "2025-01-24T11:32:13.106Z",
											"verificationMethod": "did:entity-storage:0xda2df3ebc91ee0d5229d6532ffd0f4426952a94f34988b0ca906694dfd366a6a#my-verification-id",
											"proofPurpose": "assertionMethod",
											"proofValue": "2fVLgANruCBoRPBCJavi54mZtkQdyMz6T2N4XVyB96asawiriKrVWoktcSQ7dMGrBTiemBBDpcLE2HfiTBCGuBmq"
										}
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Response to verifying a proof.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/IdentityProofVerifyResponse"
								},
								"examples": {
									"identityProofVerifyResponseExample": {
										"value": {
											"verified": true
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/profile": {
			"post": {
				"operationId": "identityProfileCreate",
				"summary": "Create an identity profile",
				"tags": [
					"Identity Profile"
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"requestBody": {
					"description": "Request to create an identity profile.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/IdentityProfileCreateRequest"
							},
							"examples": {
								"identityProfileCreateRequestExample": {
									"value": {
										"publicProfile": {
											"@context": "https://schema.org",
											"@type": "Person",
											"jobTitle": "Professor",
											"name": "Jane Doe"
										},
										"privateProfile": {
											"@context": "https://schema.org",
											"@type": "Person",
											"telephone": "(425) 123-4567",
											"url": "http://www.janedoe.com"
										}
									}
								}
							}
						}
					}
				},
				"responses": {
					"204": {
						"description": "The rest request ended in success with no data."
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "component.error"
										}
									}
								}
							}
						}
					},
					"409": {
						"description": "The request resulted in a conflicting operation, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ConflictResponse"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "ConflictError",
											"message": "component.error",
											"properties": {
												"conflicts": [
													"1"
												]
											}
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			},
			"get": {
				"operationId": "identityProfileGet",
				"summary": "Get the identity profile properties",
				"tags": [
					"Identity Profile"
				],
				"parameters": [
					{
						"name": "publicPropertyNames",
						"description": "The public properties to get for the profile, defaults to all, should be a comma separated list.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						},
						"example": "name,jobTitle"
					},
					{
						"name": "privatePropertyNames",
						"description": "The private properties to get for the profile, defaults to all, should be a comma separated list.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"responses": {
					"200": {
						"description": "Response to get an identity details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/IdentityProfileGetResponse"
								},
								"examples": {
									"identityGetResponseExample": {
										"value": {
											"identity": "did:iota:tst:0xc57d94b088f4c6d2cb32ded014813d0c786aa00134c8ee22f84b1e2545602a70",
											"publicProfile": {
												"@context": "https://schema.org",
												"@type": "Person",
												"jobTitle": "Professor",
												"name": "Jane Doe"
											}
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "component.error"
										}
									}
								}
							}
						}
					},
					"404": {
						"description": "The resource you tried to access does not exist, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/NotFoundResponse"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "NotFoundError",
											"message": "component.error",
											"properties": {
												"notFoundId": "1"
											}
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			},
			"put": {
				"operationId": "identityProfileUpdate",
				"summary": "Update an identity profile properties",
				"tags": [
					"Identity Profile"
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"requestBody": {
					"description": "Request to update an identity profile.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/IdentityProfileUpdateRequest"
							},
							"examples": {
								"identityProfileUpdateRequestExample": {
									"value": {
										"publicProfile": {
											"@context": "https://schema.org",
											"@type": "Person",
											"jobTitle": "Professor",
											"name": "Jane Doe"
										},
										"privateProfile": {
											"@context": "https://schema.org",
											"@type": "Person",
											"telephone": "(425) 123-4567",
											"url": "http://www.janedoe.com"
										}
									}
								}
							}
						}
					}
				},
				"responses": {
					"204": {
						"description": "The rest request ended in success with no data."
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "component.error"
										}
									}
								}
							}
						}
					},
					"404": {
						"description": "The resource you tried to access does not exist, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/NotFoundResponse"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "NotFoundError",
											"message": "component.error",
											"properties": {
												"notFoundId": "1"
											}
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			},
			"delete": {
				"operationId": "identityProfileRemove",
				"summary": "Remove an identity profile",
				"tags": [
					"Identity Profile"
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"responses": {
					"204": {
						"description": "The rest request ended in success with no data."
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "component.error"
										}
									}
								}
							}
						}
					},
					"404": {
						"description": "The resource you tried to access does not exist, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/NotFoundResponse"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "NotFoundError",
											"message": "component.error",
											"properties": {
												"notFoundId": "1"
											}
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/profile/{identity}/public": {
			"get": {
				"operationId": "identityProfileGetPublic",
				"summary": "Get the identity profile public properties",
				"tags": [
					"Identity Profile"
				],
				"parameters": [
					{
						"name": "identity",
						"description": "The identity to get the profile for.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "did:iota:tst:0xc57d94b088f4c6d2cb32ded014813d0c786aa00134c8ee22f84b1e2545602a70"
					},
					{
						"name": "propertyNames",
						"description": "The properties to get for the public profile, defaults to all, should be a comma separated list.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						},
						"example": "role,email,name"
					}
				],
				"responses": {
					"200": {
						"description": "Response to get an identity public profile.",
						"content": {
							"application/ld+json": {
								"schema": {
									"$ref": "https://schema.twindev.org/json-ld/JsonLdDocument"
								},
								"examples": {
									"identityGetPublicResponseExample": {
										"value": {
											"@context": "https://schema.org",
											"@type": "Person",
											"jobTitle": "Professor",
											"name": "Jane Doe"
										}
									}
								}
							}
						},
						"headers": {
							"content-type": {
								"schema": {
									"type": "string"
								},
								"description": "e.g. application/ld+json"
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"404": {
						"description": "The resource you tried to access does not exist, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/NotFoundResponse"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "NotFoundError",
											"message": "component.error",
											"properties": {
												"notFoundId": "1"
											}
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/identity/profile/query": {
			"get": {
				"operationId": "identitiesProfileList",
				"summary": "Get the list of profile data for identities",
				"tags": [
					"Identity Profile"
				],
				"parameters": [
					{
						"name": "publicFilters",
						"description": "The public filters to apply to the list, comma separated list with color between key and value for each pair e.g. prop1:value1,prop2:value2.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "publicPropertyNames",
						"description": "The public properties to get for the profile, defaults to all, should be a comma separated list.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "cursor",
						"description": "The cursor for paged requests.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "pageSize",
						"description": "Number of items to return.",
						"in": "query",
						"required": false,
						"schema": {
							"type": [
								"number",
								"string"
							]
						}
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"responses": {
					"200": {
						"description": "Response to get a list of identities.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/IdentityProfileListResponse"
								},
								"examples": {
									"identitiesProfileListResponseExample": {
										"value": {
											"items": [
												{
													"identity": "did:iota:tst:0xc57d94b088f4c6d2cb32ded014813d0c786aa00134c8ee22f84b1e2545602a70",
													"publicProfile": {
														"@context": "https://schema.org",
														"@type": "Person",
														"jobTitle": "Professor",
														"name": "Jane Doe"
													}
												}
											],
											"cursor": "1"
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "component.error"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/blob-storage": {
			"post": {
				"operationId": "blobStorageCreate",
				"summary": "Create an entry in blob storage",
				"tags": [
					"Blob Storage"
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"requestBody": {
					"description": "Request to create an entry in blob storage.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/BlobStorageCreateRequest"
							},
							"examples": {
								"blobStorageCreateRequestExample": {
									"value": {
										"blob": "VGhlIHF1aWNrIGJyb3duIGZveCBqdW1wcyBvdmVyIHRoZSBsYXp5IGRvZw==",
										"metadata": {
											"@context": "https://schema.org",
											"@type": "DigitalDocument",
											"name": "myfile.pdf"
										}
									}
								}
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "The rest request ended in created response.",
						"headers": {
							"location": {
								"schema": {
									"type": "string"
								},
								"description": "e.g. blob-memory:c57d94b088f4c6d2cb32ded014813d0c786aa00134c8ee22f84b1e2545602a70"
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "component.error"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			},
			"get": {
				"operationId": "blobStorageQuery",
				"summary": "Query the items from blob storage",
				"tags": [
					"Blob Storage"
				],
				"parameters": [
					{
						"name": "conditions",
						"description": "The condition for the query as JSON version of EntityCondition type.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "orderBy",
						"description": "The order for the results, default to created.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"enum": [
								"dateCreated",
								"dateModified"
							]
						}
					},
					{
						"name": "orderByDirection",
						"description": "The direction for the order, defaults to desc.",
						"in": "query",
						"required": false,
						"schema": {
							"$ref": "#/components/schemas/SortDirection"
						}
					},
					{
						"name": "pageSize",
						"description": "The number of entries to return per page.",
						"in": "query",
						"required": false,
						"schema": {
							"type": [
								"number",
								"string"
							]
						}
					},
					{
						"name": "cursor",
						"description": "The cursor to get next chunk of data, returned in previous response.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "accept",
						"in": "header",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"responses": {
					"200": {
						"description": "Response to getting the list of entries from a query.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "https://schema.twindev.org/blob-storage/BlobStorageEntryList"
								},
								"examples": {
									"blobStorageListResponseExample": {
										"value": {
											"@context": [
												"https://schema.org",
												"https://schema.twindev.org/blob-storage/",
												"https://schema.twindev.org/common/"
											],
											"type": "ItemList",
											"itemListElement": [
												{
													"@context": [
														"https://schema.twindev.org/blob-storage/",
														"https://schema.twindev.org/common/",
														"https://schema.org"
													],
													"type": "BlobStorageEntry",
													"id": "blob-memory:c57d94b088f4c6d2cb32ded014813d0c786aa00134c8ee22f84b1e2545602a70",
													"dateCreated": "2024-01-01T00:00:00Z",
													"encodingFormat": "application/pdf",
													"blobSize": 42,
													"blobHash": "sha256:c57d94b088f4c6d2cb32ded014813d0c786aa00134c8ee22f84b1e2545602a70",
													"fileExtension": "pdf",
													"metadata": {
														"@context": "https://schema.org",
														"@type": "DigitalDocument",
														"name": "myfile.pdf"
													},
													"blob": "VGhlIHF1aWNrIGJyb3duIGZveCBqdW1wcyBvdmVyIHRoZSBsYXp5IGRvZw=="
												}
											]
										}
									}
								}
							},
							"application/ld+json": {
								"schema": {
									"$ref": "https://schema.twindev.org/blob-storage/BlobStorageEntryList"
								},
								"examples": {
									"blobStorageListResponseJsonLdExample": {
										"value": {
											"@context": [
												"https://schema.org",
												"https://schema.twindev.org/blob-storage/",
												"https://schema.twindev.org/common/"
											],
											"type": "ItemList",
											"itemListElement": [
												{
													"@context": [
														"https://schema.twindev.org/blob-storage/",
														"https://schema.twindev.org/common/",
														"https://schema.org"
													],
													"type": "BlobStorageEntry",
													"id": "blob-memory:c57d94b088f4c6d2cb32ded014813d0c786aa00134c8ee22f84b1e2545602a70",
													"dateCreated": "2024-01-01T00:00:00Z",
													"encodingFormat": "application/pdf",
													"blobSize": 42,
													"blobHash": "sha256:c57d94b088f4c6d2cb32ded014813d0c786aa00134c8ee22f84b1e2545602a70",
													"fileExtension": "pdf",
													"metadata": {
														"@context": "https://schema.org",
														"@type": "DigitalDocument",
														"name": "myfile.pdf"
													},
													"blob": "VGhlIHF1aWNrIGJyb3duIGZveCBqdW1wcyBvdmVyIHRoZSBsYXp5IGRvZw=="
												}
											]
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "component.error"
										}
									}
								}
							}
						}
					},
					"404": {
						"description": "The resource you tried to access does not exist, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/NotFoundResponse"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "NotFoundError",
											"message": "component.error",
											"properties": {
												"notFoundId": "1"
											}
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/blob-storage/{id}": {
			"get": {
				"operationId": "blobStorageGet",
				"summary": "Get the metadata for an item from blob storage",
				"tags": [
					"Blob Storage"
				],
				"parameters": [
					{
						"name": "id",
						"description": "The id of the blob to get in urn format.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "blob-memory:c57d94b088f4c6d2cb32ded014813d0c786aa00134c8ee22f84b1e2545602a70"
					},
					{
						"name": "includeContent",
						"description": "Include the content in the response, otherwise only metadata is returned.",
						"in": "query",
						"required": false,
						"schema": {
							"type": [
								"boolean",
								"string"
							]
						},
						"example": "true"
					},
					{
						"name": "decompress",
						"description": "If the content should be decompressed, if it was compressed when stored, defaults to true.",
						"in": "query",
						"required": false,
						"schema": {
							"type": [
								"boolean",
								"string"
							]
						}
					},
					{
						"name": "overrideVaultKeyId",
						"description": "Use a different vault key id for decryption, if not provided the default vault key id will be used.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "accept",
						"in": "header",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"responses": {
					"200": {
						"description": "Response to get an entry from blob storage.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "https://schema.twindev.org/blob-storage/BlobStorageEntry"
								},
								"examples": {
									"blobStorageGetResponseExample": {
										"value": {
											"@context": [
												"https://schema.twindev.org/blob-storage/",
												"https://schema.twindev.org/common/",
												"https://schema.org"
											],
											"type": "BlobStorageEntry",
											"id": "blob-memory:c57d94b088f4c6d2cb32ded014813d0c786aa00134c8ee22f84b1e2545602a70",
											"dateCreated": "2024-01-01T00:00:00Z",
											"encodingFormat": "application/pdf",
											"blobSize": 42,
											"blobHash": "sha256:c57d94b088f4c6d2cb32ded014813d0c786aa00134c8ee22f84b1e2545602a70",
											"fileExtension": "pdf",
											"metadata": {
												"@context": "https://schema.org",
												"@type": "DigitalDocument",
												"name": "myfile.pdf"
											},
											"blob": "VGhlIHF1aWNrIGJyb3duIGZveCBqdW1wcyBvdmVyIHRoZSBsYXp5IGRvZw=="
										}
									}
								}
							},
							"application/ld+json": {
								"schema": {
									"$ref": "https://schema.twindev.org/blob-storage/BlobStorageEntry"
								},
								"examples": {
									"blobStorageGetResponseJsonLdExample": {
										"value": {
											"@context": [
												"https://schema.twindev.org/blob-storage/",
												"https://schema.twindev.org/common/",
												"https://schema.org"
											],
											"type": "BlobStorageEntry",
											"id": "blob-memory:c57d94b088f4c6d2cb32ded014813d0c786aa00134c8ee22f84b1e2545602a70",
											"dateCreated": "2024-01-01T00:00:00Z",
											"encodingFormat": "application/pdf",
											"blobSize": 42,
											"blobHash": "sha256:c57d94b088f4c6d2cb32ded014813d0c786aa00134c8ee22f84b1e2545602a70",
											"fileExtension": "pdf",
											"metadata": {
												"@context": "https://schema.org",
												"@type": "DigitalDocument",
												"name": "myfile.pdf"
											},
											"blob": "VGhlIHF1aWNrIGJyb3duIGZveCBqdW1wcyBvdmVyIHRoZSBsYXp5IGRvZw=="
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "component.error"
										}
									}
								}
							}
						}
					},
					"404": {
						"description": "The resource you tried to access does not exist, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/NotFoundResponse"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "NotFoundError",
											"message": "component.error",
											"properties": {
												"notFoundId": "1"
											}
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			},
			"put": {
				"operationId": "blobStorageUpdate",
				"summary": "Update the metadata for an item in blob storage",
				"tags": [
					"Blob Storage"
				],
				"parameters": [
					{
						"name": "id",
						"description": "The id of the blob to get in urn format.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "blob-memory:c57d94b088f4c6d2cb32ded014813d0c786aa00134c8ee22f84b1e2545602a70"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"requestBody": {
					"description": "Request to update a blob entry.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/BlobStorageUpdateRequest"
							},
							"examples": {
								"blobStorageUpdateRequestExample": {
									"value": {
										"metadata": {
											"@context": "https://schema.org",
											"@type": "DigitalDocument",
											"name": "myfile.pdf"
										}
									}
								}
							}
						}
					}
				},
				"responses": {
					"204": {
						"description": "The rest request ended in success with no data."
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "component.error"
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			},
			"delete": {
				"operationId": "blobStorageRemove",
				"summary": "Remove an item from blob storage",
				"tags": [
					"Blob Storage"
				],
				"parameters": [
					{
						"name": "id",
						"description": "The id of the blob to remove in urn format.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "blob-memory:c57d94b088f4c6d2cb32ded014813d0c786aa00134c8ee22f84b1e2545602a70"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"responses": {
					"204": {
						"description": "The rest request ended in success with no data."
					},
					"400": {
						"description": "The server cannot process the request, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "GeneralError",
											"message": "component.error",
											"properties": {
												"foo": "bar"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "You are not authorized to use the API or no credentials were supplied, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "UnauthorizedError",
											"message": "component.error"
										}
									}
								}
							}
						}
					},
					"404": {
						"description": "The resource you tried to access does not exist, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/NotFoundResponse"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "NotFoundError",
											"message": "component.error",
											"properties": {
												"notFoundId": "1"
											}
										}
									}
								}
							}
						}
					},
					"500": {
						"description": "The server has encountered a situation it does not know how to handle, see the content for more details.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"examples": {
									"exampleResponse": {
										"value": {
											"name": "InternalServerError",
											"message": "component.error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/blob-storage/{id}/content": {
			"get": {
				"operationId": "blobStorageGetContent",
				"summary": "Get the content for an item in blob storage",
				"tags": [
					"Blob Storage"
				],
				"parameters": [
					{
						"name": "id",
						"description": "",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"style": "simple",
						"example": "blob-memory:c57d94b088f4c6d2cb32ded014813d0c786aa00134c8ee22f84b1e2545602a70"
					}
				],
				"security": [
					{
						"jwtBearerAuthScheme": []
					}
				],
				"responses": {
					"200": {
						"description": "The content of the blob, which will be a specific mime type if one can be detected from the content (or set as encodingFormat in the entry), or defaults to application/octet-stream.",
						"content": {
[...]
